@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #000000 35.49%, #000000 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}



.card{
    background-image: url(img/yamaha-motor-corporation-vector-logo.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.82;
}
